spring:
  application:
    name: auth-service
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.liquibase.LiquibaseAutoConfiguration

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    base-url: http://localhost:9411
  endpoints:
    web:
      exposure:
        include: health,info,metrics,tracing

server:
  port: 8083

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"