spring:
  application:
    name: auth-service

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  sql:
    init:
      mode: always

  datasource:
    url: jdbc:postgresql://localhost:5432/bc
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

