services:
  grafana:
    build: './config/grafana'
    ports:
      - "3000:3000"
    volumes:
      - ./grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus:/prometheus
    networks:
      - monitoring

  auth-service:
    build: auth-service
    ports:
      - "8000:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth-db:5432/auth
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    networks:
      - monitoring
    depends_on:
      - auth-db

  auth-db:
    image: postgres:16.1
    container_name: auth-db
    ports:
      - "2432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=auth
    networks:
      - monitoring

  order-service:
    build: order-service
    ports:
      - "8001:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://order-db:5432/order
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    networks:
      - monitoring
    depends_on:
      - order-db

  order-db:
    image: postgres:16.1
    container_name: order-db
    ports:
      - "3432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=order
    networks:
      - monitoring

  goods-service:
    build:
      context: ./goods-service
      dockerfile: Dockerfile
    container_name: goods-service
    ports:
      - "4569:4569"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://goods-db:5432/goodsdb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SERVER_PORT=4569
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - goods-db
    networks:
      - monitoring

  goods-db:
    image: postgres:16.1
    container_name: goods-db
    ports:
      - "4432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=goodsdb
    networks:
      - monitoring
    volumes:
      - pgdata_goods:/var/lib/postgresql/data

  liquibase:
    image: liquibase/liquibase:4.29.2
    container_name: liquibase
    # network_mode: 'host'
    networks:
      - monitoring
    depends_on:
      - goods-db
    command: bash -c 'while !</dev/tcp/goods-db/5432; do sleep 1; done; liquibase --defaultsFile=/liquibase/db/liquibase.properties update'
    volumes:
      - ./goods-service/src/main/resources/db:/liquibase/db

  redis:
    image: redis:7-alpine
    container_name: cart-redis
    networks:
      - monitoring
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3

  cart-service:
    build: cart-service
    ports:
      - "8003:8084"
    environment:
      - SPRING_REDIS_HOST=redis
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - monitoring


networks:
  monitoring:
    driver: bridge
volumes:
  pgdata_goods:
