server:
  port: 4569

spring:
  application:
    name: goods-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/goodsdb}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:iamroot}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: w3c

  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  prometheus:
    metrics:
      export:
        enabled: true
        include: health, metrics, info

opentelemetry:
  exporter:
    logging:
      enabled: true
  sdk:
    enabled: true

logging:
  level:
    io.opentelemetry.exporter.logging: DEBUG
    org.springframework.web: DEBUG