spring:
  application:
    name: cart-service
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8084

logging:
  level:
    org.springframework: INFO
    ru.practikum.masters.cartservice: DEBUG